/*************/
/* SELETORES */
/*************/

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: blue;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
}

/*******/
/* IDS */
/*******/

#cliqueAqui {
    animation: piscando 1s infinite linear alternate;
}

/***********/
/* CLASSES */
/***********/

.fundoRosa {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(223, 8, 194);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
}

.circuloPreto {
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    border: 10px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.botao {
    width: 230px;
    height: 230px;
    margin: 5px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.circuloPretoMenor {
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: black;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
}

/******************/
/* CLASSES DE COR */
/******************/

.verde {
    background-color: green;
}

.vermelho {
    background-color: red;
}

.amarelo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.verdeClaro {
    color: rgb(128, 199, 46);
}

/***********************/
/* CLASSES ALTERNANTES */
/***********************/

.botaoAnimado {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.esconder {
    visibility: hidden;
}

/*************/
/* KEYFRAMES */
/*************/

@keyframes piscando {
    from {
        color: white;
    }

    to {
        color: black;
    }
}

/*********/
/* MEDIA */
/*********/

@media (max-width: 1000px) {
    .circuloPreto {
        width: 300px;
        height: 300px;
        border: 4px solid black;
    }

    h1 {
        font-size: 0.8rem;
    }

    .botao {
        width: 142px;
        height: 142px;
        border-radius: 20px;
        font-size: medium;
        margin: 2px;
    }

    .circuloPretoMenor {
        font-size: 0.5rem;
    }
}

/******************/
/* CONTEÚDO EXTRA */
/******************/

#nivel, #cliqueAqui, .circuloPreto {
    z-index: 2;
}

.fundoRosa {
    z-index: 0;
}

.fundoExtra {
    position: absolute;
    width: 100%;
    min-height: 100vh
}

.rick {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    visibility: hidden;
}

.esquerdo {
    left: 0;
}

.direito {
    right: 0;
}

.botaoGirar,
.botaoBalada,
.botaoMusica {
    width: 40px;
    height: 40px;
    background-color: rgb(211, 16, 16);
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 100%;
    border: 2px solid white;
    transition: 1s;
    font-size: 1 rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.botaoExtraVerde {
    background-color: green;
}

.botaoBalada {
    top: 60px;
}

.botaoMusica {
    top: 105px;
}

.animacaoGiro {
    animation: giro 5s infinite linear;
}

.baladinha {
    animation: baladinha 500ms infinite linear;
}

@keyframes giro {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes baladinha {
    0% {
        background-color: blue;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: red;
    }

    75% {
        background-color: green;
    }

    100% {
        background-color: purple;
    }
}

@media (max-width: 1000px) {
    .rick {
        width: 100%;
        height: 50%;
    }

    .direito {
        bottom: 0;
    }
}